<% provide(:title, 'Contact') %>
  <div class="center jumbotron">

<h1>Contact</h1>
<p>
Contact me by:
<br>
Email: l.e.cheatley@dundee.ac.uk
<br>
<a href="mailto:l.e.cheatley@dundee.ac.uk&subject=I%20am%20too%20lazy%20to%20copy%20and%20paste%20your%20email%20address">or click this link to avoid copy and paste!</a> 
 
</p>
    </div>