<% provide(:title, 'Home') %>
  <div class="center jumbotron">
    <h1><a href="http://livingdigital.ac.uk/projects/moving-on-computational-creativity/" target="_blank">Moving On:<br> Computational Creativity</h1></a>
<br><br>
<!--<img src=/assets/katie.jpg alt="Picture" /> -->
    <h2>
      <p>Moving on is a PhD project aiming to determine whether computational creativity can be used positively in response to the end of a relationship - primarily the death of a loved one. With death being ever present, technology permeating modern society, and the rise of computational creativity, it is only natural to look towards computer generated artefacts to help ease the process of losing a loved one. 
      <br><br>
      The purpose of this PhD is to better understand how technology can be used to help people cope with the human condition. Whether and how creative systems can be used to help people navigate grief, and whether it can be used to help solidify bonds to those lost
      </p>
    </h2>
  <h3>
  <ul>
  <li>Ending of Relationships</li>
  <br>
  <li>Grief</li>
  <br>
  <li>Creative Computers</li>
  </ul> 
  </h3>
</div>
