<% provide(:title, 'About Me') %>
    


    <div class="center jumbotron"> 

 <div class = "row">
      
     <h1>Posgraduate Research Student:<br> <a href="" target="_blank">Lee Cheatley (MA, MSc)</a>


    
  </div>
  
  <!-- Line design -->
  <div class ="row">
    
         <%= image_tag "lee.jpg" , :alt => "Picture", :size => "180x260", :crop => :fill%>    

  </div>
   

  <div class ="row"> 

    
   <h2>
      Duncan of Jordanstone College of Art and Design, and  School of Computing
      <br><br>
      University of Dundee 
      <br><br>
      <a href="mailto:l.e.cheatley@dundee.ac.uk&subject=I%20am%20too%20lazy%20to%20copy%20and%20paste%20your%20email%20address">l.e.cheatley@dundee.ac.uk</a> 
      <br><br>
      <a href="http://livingdigital.ac.uk/people/lee-cheatley/" target="_blank">Living Digital Profile</a>
      
    </h2>
    </div>
    

</div>

