<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
  <% provide(:title, 'About Me') %>
    


    <div class="center jumbotron"> 

<div class="container-fluid">
  <h1>Posgraduate Research Student: </h1><br> <a href="http://livingdigital.ac.uk/people/lee-cheatley/" target="_blank"><h1>Lee Cheatley (MA, MSc)</h1></a>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
               <%= image_tag "lee.jpg" , :alt => "Picture", :size => "180x260", :crop => :fill, :class => "img-circle" %>
    </div>
    <div class="col-xs-9 col-sm-0"><h2>Duncan of Jordanstone College of Art and Design, and  School of Computing
      <br><br>
      University of Dundee</h2></div>
    <!-- Add clearfix for only the required viewport -->
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-9 col-sm-0"><a href="mailto:l.e.cheatley@dundee.ac.uk&subject=I%20am%20too%20lazy%20to%20copy%20and%20paste%20your%20email%20address"><h2>l.e.cheatley@dundee.ac.uk</h2></a></div>
    <div class="col-xs-9 col-sm-0"><a href="http://livingdigital.ac.uk/people/lee-cheatley/" target="_blank"><h2>Living Digital Profile</h2></a></div>
  </div>
</div>
    </div>

</body>
</html>
