<% provide(:title, "About") %>
  <div class="center jumbotron">
<h1>Supervisors</h1>
<h2>First Supervisor</h2>
<p>
<a href="http://www.wendymoncur.com/" target="_blank">Prof. Wendy Moncur: Interdisciplinary Chair of Digital Living</a>
<br>
<a href="https://www.dundee.ac.uk/djcad/staff/wendymoncur/" target="_blank">University of Dundee, Duncan of Jordanstone College of Art and Design.</a>
<br><br>
</p>
<h2>Second Supervisor</h2>
<p>
<a href="http://staff.computing.dundee.ac.uk/alisonpease/" target="_blank">Dr. Alison Pease: Centre for Argument Technology</a>
<br>
<a href="http://www.computing.dundee.ac.uk/about/staff/22" target="_blank">University of Dundee, School of Computing</a>
<br><br>
</p>
    </div>