<footer class="footer">
  <small>

  </small>
  <nav>
    <ul>
      <li><%= link_to "Publications", pub_path %></li>
      <li><%= link_to "Presentations", pres_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    
  
    </ul>
  </nav>
</footer>